/* -------------------------------------------------------------------------

 Style Guide Boilerplate
 Repo: https://github.com/bjankord/Style-Guide-Boilerplate
 Author: Brett Jankord
 License: MIT

---------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 Layout
---------------------------------------------------------------------------- */
/* http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.sg-header {
  background: #ABD3E4;
  color: #5D85A8;
  padding-bottom: 0.75rem;
  padding-bottom: 12px; /* For older browsers */
  padding-top: 0.75rem;
  padding-top: 12px; /* For older browsers */
}

.sg-info,
.sg-section-group {
  padding-bottom: 32px; /* For older browsers */
  padding-bottom: 2rem;
}

.sg-wrapper {
  position: relative; /* Used to help sidebar height go all the way down the page */
}

.sg-main,
.sg-sidebar {
  padding-top: 24px; /* For older browsers */
  padding-top: 1.5rem;
  padding-bottom: 16px; /* For older browsers */
  padding-bottom: 1rem;
}

.sg-sidebar {
  background: #5D85A8;
  color: #F6F7EA;
  font-size: 80%;
  padding-left: 16px; /* For older browsers */
  padding-left: 1rem;
  padding-right: 16px; /* For older browsers */
  padding-right: 1rem;
}

.js .sg-sidebar {
  opacity: 0;
  position: absolute;
  top: -100%;
  -webkit-transition: opacity 0.6s ease-out;
     -moz-transition: opacity 0.6s ease-out;
      -ms-transition: opacity 0.6s ease-out;
       -o-transition: opacity 0.6s ease-out;
          transition: opacity 0.6s ease-out;
}

.js.nav-is-active .sg-sidebar {
  opacity: 1;
  position: static;
}

@media screen and (min-width: 1025px) {
  .sg-sidebar,
  .js .sg-sidebar,
  .js.nav-is-active .sg-sidebar {
    bottom: 0;
    float: left;
    font-size: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 15%;
  }

  .sg-main {
    float: right;
    width: 85%;
	padding-left: 3rem;
	padding-right: 3rem;
  }
}

/* -------------------------------------------------------------------------
 Utility Classes
---------------------------------------------------------------------------- */
.sg-container {
  padding: 0 16px; /* For older browsers */
  padding: 0 1rem;
}

.sg-container:before,
.sg-container:after,
.sg-clearfix:before,
.sg-clearfix:after,
.sg-section:before,
.sg-section:after,
.sg-markup-controls:before,
.sg-markup-controls:after{
  content:"";
  display:table;
  line-height:0
}

.sg-container:after,
.sg-clearfix:after,
.sg-section:after,
.sg-markup-controls:after {
  clear: both;
}

.sg-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sg-visually-hidden-focusable:active,
.sg-visually-hidden-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* -------------------------------------------------------------------------
 Modules
---------------------------------------------------------------------------- */

/* Fonts
---------------------------------------------------------------------------- */

/* SG Font 1 */
.sg-font1,
.sg-logo,
.sg-about p,
.sg-color-value  {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

/* SG Font 2 */
.sg-font2,
.sg-logo em,
.sg-nav-toggle,
.sg-h1,
.sg-h2,
.sg-h3,
.sg-color-name,
.sg-font-list dt  {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 500;
}

/* Branding
---------------------------------------------------------------------------- */
.sg-logo {
  float: left;
  font-size: 1em;
  line-height: 2;
  margin: 0;
  padding: 0;
  font-family: "Arial"
}

.sg-logo-full {
  display: none;
}

.sg-logo em {
  font-style: normal;
}

@media screen and (min-width: 650px) {
  .sg-logo-initials {
    display: none;
  }

  .sg-logo-full {
    display: inline;
  }
}

/* Navigation
---------------------------------------------------------------------------- */
.sg-nav-toggle {
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #7C7C7C;
  color: #fff;
  float: right;
  font-size: 12px;
  font-size: 1rem;
  padding: 5px 8px; /* For older browsers */
  padding: 0.3125rem 0.5rem;
  text-decoration: none;
  -webkit-transition: all .15s ease-in;
     -moz-transition: all .15s ease-in;
      -ms-transition: all .15s ease-in;
       -o-transition: all .15s ease-in;
          transition: all .15s ease-in;
}

.sg-nav-toggle:hover {
  border-color: #9c9c9c;
}

@media screen and (min-width: 1025px) {
  .sg-nav-toggle {
    display: none;
  }
}

.sg-nav-group,
.sg-nav-group li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sg-nav-group li {
  margin-bottom: .5em;
}

.sg-nav-group a,
.sg-nav-group a:visited {
  border-left: 2px solid transparent;
  color: #fff;
  display: block;
  font-size: 1.2em;
  padding: .35em 0 .35em .5em;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .15s ease-in;
     -moz-transition: all .15s ease-in;
      -ms-transition: all .15s ease-in;
       -o-transition: all .15s ease-in;
          transition: all .15s ease-in;
}

.sg-nav-group a:hover,
.sg-nav-group a:focus {
  background: #565656;
  border-left: 2px solid #939393;
  color: #fff;
}

.sg-nav-group .sg-subnav-parent {
  margin: 2.5em 0;
}

.sg-nav-group:first-child > .sg-subnav-parent {
  margin-top: 0;
}

/* Typography
---------------------------------------------------------------------------- */
.sg-h1,
.sg-h2,
.sg-h3 {
  margin-bottom: 1em;
  margin-top: 0;
}

.sg-h1 {
  font-size: 2em;
  padding-bottom: .2em;
  text-transform: capitalize;
}

.sg-h2 {
  border-bottom: 1px solid #ddd;
  font-size: 1.75em;
  margin-bottom: .75em;
  padding-bottom: .2em;
  text-transform: capitalize;
}

.sg-h3 {
  font-size: 1.5em;
}

.sg-about p {
  font-size: 1.1em;
}


/* Buttons
---------------------------------------------------------------------------- */
.sg-btn {
  background: #cbcbcb;
  border: none;
  color: #222;
  float: left;
  font-size: 16px; /* For older browsers */
  font-size: 1rem;
  padding: .5em .9em;
  text-decoration: none;
}

.sg-btn--top {
  float: right;
}

.sg-btn--source,
.sg-btn--select {
  display: none;
}

/* Show specific buttons we cut the mustard */
.sg-enhanced .sg-btn--source {
  display: block;
}

@media screen and (min-width: 1025px) {
  .sg-enhanced .sg-btn--select {
    display: block;
  }
}

.sg-btn--select {
  border-radius: 0 0.2em;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 1;
}

.sg-btn--select-active:hover:after{
  background: #111; /* For older browsers */
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  color: #fff;
  content: "Selected code ready to be copied";
  display: block;
  padding: 8px 16px; /* For older browsers */
  padding: 0.5rem 1rem;
  position: absolute;
  right: 8px; /* For older browsers */
  right: 0.5rem;
  top: 48px; /* For older browsers */
  top: 3rem;
  white-space: nowrap;
  z-index: 98;
}

.sg-btn--select-active:hover:before{
  border-color: transparent transparent #111 transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  content: "";
  display: block;
  height: 0;
  left: 45%;
  position: absolute;
  top: 40px;
  top: 2.5rem;
  width: 0;
  z-index: 99;
}

/* Sections
---------------------------------------------------------------------------- */
.sg-section {
  margin-bottom: 32px; /* For older browsers */
  margin-bottom: 3rem;
}

/* Colors
---------------------------------------------------------------------------- */
.sg-color {
  margin-bottom: 1.5em;
}

.sg-color-swatch {
  padding-top: 20%; /* Used to set height of color swatch */
}

.sg-color-name {
  font-size: 1.2em; /* Test this with 1.1 em */
  padding: .5em 0;
}

.sg-color-value {
  font-size: 1.2em;  /* Test this with 1.1 em */
}

@media only screen and (min-width: 375px) {
  .sg-color-grid {
    margin: 0 -2.5%;
    overflow: hidden;
  }

  .sg-color {
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
  }

  .sg-color-swatch {
    padding-top: 60%; /* Used to set height of color swatch */
  }
 }

@media only screen and (min-width: 760px) {
  .sg-color {
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 22%;
  }

  .sg-color-grid {
    margin: 0 -1.5%;
  }
}

/* Fonts
---------------------------------------------------------------------------- */
.sg-font-list,
.sg-font-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sg-font-list {
  font-size: 1.1em;
}

.sg-font-list dt {
  display: block;
  padding-bottom: .25em;
}

.sg-font-list dd {
  border-bottom: 1px solid #ddd;
  display: block;
  margin-bottom: .75em;
  margin-left: 0;
  padding-bottom: .75em;
}

@media only screen and (min-width: 760px) {
  .sg-font-list dt {
    float: left;
    padding-right: .25em;
  }
}


/* Markup
---------------------------------------------------------------------------- */
.sg-doc {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}

.sg-markup-controls {
  padding-top: 1.5em;
}

.sg-source {
  position: relative;
}

.sg-source pre {
  background: #333;
  border-radius: .5em;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: .5em .3em;
}

.sg-source pre code {
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

/* Hide source code blocks off-screen */
.sg-enhanced .sg-source {
  opacity: 0;
  position: absolute;
  top: -100%;
  width: 1px;
  -webkit-transition: opacity 0.6s ease-out;
     -moz-transition: opacity 0.6s ease-out;
      -ms-transition: opacity 0.6s ease-out;
       -o-transition: opacity 0.6s ease-out;
          transition: opacity 0.6s ease-out;
}

/* Show source code blocks when active or JS is not enabled */
.sg-enhanced .sg-source-active {
  opacity: 1;
  position: relative;
  width: 100%;
}

/* Videos
---------------------------------------------------------------------------- */
.sg-video {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.sg-video video {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* -------------------------------------------------------------------------
 github markdown
---------------------------------------------------------------------------- */
.markdown-body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #333;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}
.markdown-body a {
    background-color: transparent;
}
.markdown-body a:active,
.markdown-body a:hover {
    outline: 0;
}
.markdown-body strong {
    font-weight: bold;
}
.markdown-body h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.markdown-body img {
    border: 0;
}
.markdown-body hr {
    box-sizing: content-box;
    height: 0;
}
.markdown-body pre {
    overflow: auto;
}
.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
.markdown-body input {
    color: inherit;
    font: inherit;
    margin: 0;
}
.markdown-body html input[disabled] {
    cursor: default;
}
.markdown-body input {
    line-height: normal;
}
.markdown-body input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
.markdown-body table {
    border-collapse: collapse;
    border-spacing: 0;
}
.markdown-body td,
.markdown-body th {
    padding: 0;
}
.markdown-body * {
    box-sizing: border-box;
}
.markdown-body input {
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.markdown-body a {
    color: #4078c0;
    text-decoration: none;
}
.markdown-body a:hover,
.markdown-body a:active {
    text-decoration: underline;
}
.markdown-body hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}
.markdown-body hr:before {
    display: table;
    content: "";
}
.markdown-body hr:after {
    display: table;
    clear: both;
    content: "";
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
}
.markdown-body h1 {
    font-size: 30px;
}
.markdown-body h2 {
    font-size: 21px;
}
.markdown-body h3 {
    font-size: 16px;
}
.markdown-body h4 {
    font-size: 14px;
}
.markdown-body h5 {
    font-size: 12px;
}
.markdown-body h6 {
    font-size: 11px;
}
.markdown-body blockquote {
    margin: 0;
}
.markdown-body ul,
.markdown-body ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman;
}
.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
    list-style-type: lower-alpha;
}
.markdown-body dd {
    margin-left: 0;
}
.markdown-body code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}
.markdown-body pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.markdown-body .select::-ms-expand {
    opacity: 0;
}
.markdown-body .octicon-link:before {
    content: '\f05c';
}
.markdown-body>*:first-child {
    margin-top: 0!important;
}
.markdown-body>*:last-child {
    margin-bottom: 0!important;
}
.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none;
}
.markdown-body .anchor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
}
.markdown-body .anchor:focus {
    outline: none;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    line-height: 1.4;
}
.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    text-decoration: none;
}
.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
    display: inline-block;
}
.markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
.markdown-body h1 .anchor {
    line-height: 1;
}
.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}
.markdown-body h2 .anchor {
    line-height: 1;
}
.markdown-body h3 {
    font-size: 1.25em;
    line-height: 1.43;
}
.markdown-body h3 .anchor {
    line-height: 1.2;
}
.markdown-body h4 {
    font-size: 1em;
}
.markdown-body h4 .anchor {
    line-height: 1.2;
}
.markdown-body h5 {
    font-size: .75em;
}
.markdown-body h5 .anchor {
    line-height: 1.1;
}
.markdown-body h6 {
    font-size: .75em;
    color: #777;
}
.markdown-body h6 .anchor {
    line-height: 1.1;
}
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
    margin-top: 0;
    margin-bottom: 16px;
}
.markdown-body hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}
.markdown-body ul,
.markdown-body ol {
    padding-left: 2em;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.markdown-body li>p {
    margin-top: 16px;
}
.markdown-body dl {
    padding: 0;
}
.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}
.markdown-body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}
.markdown-body blockquote>:first-child {
    margin-top: 0;
}
.markdown-body blockquote>:last-child {
    margin-bottom: 0;
}
.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}
.markdown-body table th {
    font-weight: bold;
}
.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.markdown-body img {
    max-width: 100%;
    box-sizing: border-box;
}
.markdown-body code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}
.markdown-body code:before,
.markdown-body code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}
.markdown-body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}
.markdown-body .highlight {
    margin-bottom: 16px;
}
.markdown-body .highlight pre,
.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #1B1B18;
    border-radius: 3px;
    color: #fff;
}
.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}
.markdown-body pre {
    word-wrap: normal;
}
.markdown-body pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
.markdown-body pre code:before,
.markdown-body pre code:after {
    content: normal;
}
.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}
.markdown-body .pl-c {
    color: #969896;
}
.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
    color: #0086b3;
}
.markdown-body .pl-e,
.markdown-body .pl-en {
    color: #795da3;
}
.markdown-body .pl-s .pl-s1,
.markdown-body .pl-smi {
    color: #333;
}
.markdown-body .pl-ent {
    color: #63a35c;
}
.markdown-body .pl-k {
    color: #a71d5d;
}
.markdown-body .pl-pds,
.markdown-body .pl-s,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sra,
.markdown-body .pl-sr .pl-sre {
    color: #183691;
}
.markdown-body .pl-v {
    color: #ed6a43;
}
.markdown-body .pl-id {
    color: #b52a1d;
}
.markdown-body .pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8;
}
.markdown-body .pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold;
}
.markdown-body .pl-ml {
    color: #693a17;
}
.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
    color: #1d3e81;
    font-weight: bold;
}
.markdown-body .pl-mq {
    color: #008080;
}
.markdown-body .pl-mi {
    color: #333;
    font-style: italic;
}
.markdown-body .pl-mb {
    color: #333;
    font-weight: bold;
}
.markdown-body .pl-md {
    background-color: #ffecec;
    color: #bd2c00;
}
.markdown-body .pl-mi1 {
    background-color: #eaffea;
    color: #55a532;
}
.markdown-body .pl-mdr {
    color: #795da3;
    font-weight: bold;
}
.markdown-body .pl-mo {
    color: #1d3e81;
}
.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}
.markdown-body .task-list-item {
    list-style-type: none;
}
.markdown-body .task-list-item+.task-list-item {
    margin-top: 3px;
}
.markdown-body .task-list-item input {
    margin: 0 0.35em 0.25em -1.6em;
    vertical-align: middle;
}
.markdown-body:checked+.radio-label {
    z-index: 1;
    position: relative;
    border-color: #4078c0;
}